
.whitebutton {
	border: 2px solid white;
	background: none;
	color: white;
	width: fit-content;
	transition: 0.5s;
}

.whitebutton p {
	margin: 5px;
}

.whitebutton:hover {
	background-color: white;
}

.whitebutton:hover p {
	background: linear-gradient(to right, rgb(50, 187, 103), rgb(49, 122, 201));
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.colorbutton {
	border-width: 2px;
	border-style: solid;
	border-image: linear-gradient(to right, rgb(50, 187, 103), rgb(49, 122, 201));
	border-image-slice: 1;
	background: none;
	transition: 0.5s;
}

.colorbutton p {
	background: linear-gradient(to right, rgb(50, 187, 103), rgb(49, 122, 201));
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	margin: 5px;
	-webkit-transition: background 0.3s ease-in-out
}

.colorbutton h2 {
	background: linear-gradient(to right, rgb(50, 187, 103), rgb(49, 122, 201));
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	margin: 5px;
	-webkit-transition: background 0.3s ease-in-out;
	font-size: medium;
}

.colorbutton:hover {
	background: linear-gradient(to right, rgb(50, 187, 103), rgb(49, 122, 201));
}

.colorbutton:hover p{
	background: white;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.colorbutton:hover h2{
	background: white;
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.about {
	text-align: center;
}

.about div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.projects h1 {
	text-align: center;
}

.projects div {
	display: flex;
}

.about-desc {
	padding: 10px;
	padding-left: 5%;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	width: 500px;
}

.heading {
	background-color: white;
	padding: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 40px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact {
	color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}

img {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width: 300px;
	height: auto;
}

.about-img {
	height: 200px;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
}

.projects {
	background-color: white;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: medium;
}

.project {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.project img {
	margin-bottom: 40px;
}

.proj-desc {
	text-align: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 400px;
	margin-top: 2px;
	margin-bottom: 40px;
}

.proj-desc p {
	color: rgb(56, 56, 56);
}

.proj-desc h2 {
	margin: 0px;
}

.proj-desc button {
	width: fit-content;
	margin-right: 10px;
}

@media only screen and (min-width: 400px) {
	
	.projects {
		font-size: large;
	}
	.about-img {
		width: 300px;
		height: 300px;
	}
}

@media only screen and (min-width: 500px) {
	img {
		width: 400px;
		height: auto;
	}
	h1 {
		font-size: 3rem;
	}
	.colorbutton h2 {
		font-size: x-large;
	}
}

@media only screen and (min-width: 700px) {
	.proj-desc {
		width: 500px;
	}
	img {
		width: 500px;
	}
}

@media only screen and (min-width: 800px) {
	
	.heading h1 {
		font-size: 4rem;
	}
	.colorbutton h2 {
		font-size: xx-large;
	}
	.proj-desc {
		text-align: left;
		align-items: flex-start;
		width: 600px;
	}
	img {
		width: 600px;
	}
}

@media only screen and (min-width: 805px) {
	.about-desc {
		text-align: left;
		align-items: flex-start;
		width: 400px;
	}
}

@media only screen and (min-width: 900px) {
	img {
		width: 700px;
	}
}

@media screen and (min-width: 1100px) {
	
	.heading h1 {
		font-size: 5rem;
	}
	.proj-desc {
		width: 400px;
		margin-right: 40px;
	}
	img {
		width: 600px;
	}
}

@media only screen and (min-width: 1250px) {
	img {
		width: 750px;
	}
}

@media only screen and (min-width: 1400px) {
	.proj-desc {
		width: 500px;
	}
}

.about {
	color: white;
	margin-bottom: 40px;
}

footer {
	background-color: rgb(65, 64, 64);
	box-shadow: 4px 4px 8px 8px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer button {
	background: none;
	border: none;
	color: white;
	margin: 10px;
	transition: 0.3s;
}

footer button:hover {
	color: rgb(184, 184, 184);
}

hr {
	width: 70%;
	border-radius: 5px;
	border: 1px solid rgb(129, 129, 129);
	margin: 0;
	margin-top: 20px;
}

footer {
	text-align: center;
}

footer p {
	color: rgb(177, 177, 177);
}

footer a {
	color: rgb(177, 177, 177);
}

footer a:hover {
	color: rgb(201, 201, 201);
}

button {
	font-size: large;
}

body {
	margin: 0;
	background-image: linear-gradient(to right, rgb(50, 187, 103), rgb(49, 122, 201));
	font-family: 'Montserrat', 'sans-serif'
}

html {
	scroll-behavior: smooth;
}